$primary: #6c5ffc;
$secondary: #6c757d;
$info: #84989e;
$success: #0acf97;
$danger: #fa5c7c;
$grey: #adb5bd;
$lightGrey: #f1f3fa;
$boxShadow: 0 0 35px 0 #c5c5c526;
$borderRadius: 5px;
$bodyColor: #f7f9ff;
$headerHeight: 52px;
$sidebarWidth: 260px;
$borderColor: #e9edf4;
